.slide-content1 {
  text-align: center;
  padding: 10%;
  background-color: rgb(158, 179, 211);
  color: black;
}

.slide-content1 img {
  width: 40%;
  height: auto;
  border-radius: 10%;
  margin: 10%;
}

.slide-content1 h2 {
  margin: 8;
  font-size: 40px;
  color: chartreuse;
}



// Estilos para el botón de logout
.logout-btn {
  --color: #ffffff;
  --background: transparent;
  --border-radius: 50%;
  --padding-start: 8px;
  --padding-end: 8px;
  --padding-top: 8px;
  --padding-bottom: 8px;
  
  ion-icon {
    font-size: 20px;
  }
  
  &:hover {
    --background: rgba(255, 255, 255, 0.1);
  }
}

